.container {
    height: 100%;
    width: 100%;
    background-color: lightsteelblue;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: sans-serif;
    font: bold;
}

.photo {
    display:flex;
    height: 775px;
    width: auto;
    margin-left: 130px;
    
}

h1 {
    background-color:  rgb(106, 129, 154);
    width: 400px;
    text-align: justify;
    border-radius: 5px;
}

.fontmid {
    flex:6;
    align-items:normal;
    justify-content: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-size: 35px;
    
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: lightsteelblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.aboutpage {
   width: 50%;
   background-color: rgb(106, 129, 154);
   max-width: 600px;
   padding: 25px;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0,0,0,0.1);
   text-align: center;
}

.aboutpage h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: white;
}

.aboutpage p {
    color: white;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: lightsteelblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contactpage {
    width: 50%;
    background-color: rgb(106, 129, 154);
    max-width: 600px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.contactpage h2 {
    font-size: 35px;
    color: white;
}

.contactpage p {
    color: white;
}

